<% if @email_blast.persisted? %>
  <div class="pull-right">

    <% unless @email_blast.html_body_url.blank? %>
      <%= link_to @email_blast.html_body_url, target: "_new", class: 'btn btn-sm btn-default' do %>
        <i class="fa fa-glasses"></i> HTML Preview
      <% end %>
    <% end %>

    <%= link_to test_admin_marketing_email_blast_path(@email_blast), class: 'btn btn-sm btn-default' do %>
      <i class="fa fa-arrow-circle-right"></i> Test Dispatch
    <% end %>

  </div>
<% end %>

<h2><%= @email_blast.title %></h2>
<% unless @email_blast.dispatch_time.nil? %>
  <div class="bs-callout bs-callout-info">This email blast was dispatched
    at <%= systime @email_blast.dispatch_time %></div>
<% end %>
<%= render 'admin/shared/error_messages', object: @email_blast %>
<hr/>

<div class="col-md-10">
  <%= simple_form_for [:admin, :marketing, @email_blast] do |f| %>

    <%= f.input :title, input_html: {class: 'span5'} %>
    <%= f.input :approved %>
    <%= f.input :scheduled_time, as: :datetimepicker %>
    <%= f.association :email_list %>
    <%= f.association :voucher_group %>
    <hr/>
    <%= f.input :from_name %>
    <%= f.input :from_email %>
    <%= f.input :subject %>
    <%= f.input :html_body_url %>
    <%= f.input :text_body_url %>
    <%= f.input :html %>
    <%= f.input :body, input_html: {rows: 16} %>

    <%= button_tag "Save changes", :class => "btn btn-primary", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Please wait ..."} %>

  <% end %>
</div>


<% unless @email_blast.id.nil? %>
  <div class="col-md-2">
    <table class="table table-bordered table-condensed summary">
      <tr>
        <td>Sent:</td>
        <td><%= @email_blast.sent %></td>
      </tr>
      <tr>
        <td>Opens:</td>
        <td><%= @email_blast.opens %></td>
      </tr>
      <tr>
        <td>Clicks:</td>
        <td><%= @email_blast.clicks %></td>
      </tr>
      <tr>
        <td>Bounces:</td>
        <td><%= @email_blast.bounces %></td>
      </tr>
      <tr>
        <td>Sales:</td>
        <td><%= @email_blast.sales %></td>
      </tr>
    </table>
  </div>
<% end %>


<% content_for :title do %>
  Email Lists: <%= @email_blast.title %>
<% end %>


<% content_for :breadcrumbs do %>
  <li><a href="#">Marketing</a></li>
  <li><%= link_to "Email Blasts", admin_marketing_email_blasts_path %></li>
  <li class="active"><%= @email_blast.title %></li>
<% end %>
