<style>
.form-inline { width: 100%; }
    .form-inline .control-label { width: 120px; }
</style>

<h2><%= @email_blast.title %></h2>
<% unless @email_blast.dispatch_time.nil? %>
  <div class="bs-callout bs-callout-info">This email blast was dispatched at <%= @email_blast.dispatch_time %></div>
<% end %>
<hr/>

<div class="col-md-10">
<%= simple_form_for([:admin, :marketing, @email_blast], html: { class: 'form-inline' }) do |f| %>

  <%= render 'admin/shared/error_messages', object: f.object %>

  <%= f.input :title, input_html: { class: 'span5'} %>
  <%= f.input :approved %>
  <%= f.input :scheduled_time %>
  <%= f.association :email_list %>
  <%= f.association :voucher_group %>
  <hr/>
  <%= f.input :from_name %>
  <%= f.input :from_email %>
  <%= f.input :subject %>
  <%= f.input :html_body_url %>
  <%= f.input :text_body_url %>
  <%= f.input :html %>
  <%= f.input :body, input_html: { rows: 16 } %>
  
  <div class="form-actions">
  	<%= f.button :submit %>
  </div>
  
<% end %>
</div>


<% unless @email_blast.id.nil? %>
    <div class="col-md-2">
      <table class="table table-bordered table-condensed summary">
        <tr>
          <td>Sent:</td>
          <td><%= @email_blast.sent %></td>
        </tr>
        <tr>
          <td>Opens:</td>
          <td><%= @email_blast.opens %></td>
        </tr>
        <tr>
          <td>Clicks:</td>
          <td><%= @email_blast.clicks %></td>
        </tr>
        <tr>
          <td>Bounces:</td>
          <td><%= @email_blast.bounces %></td>
        </tr>
        <tr>
          <td>Sales:</td>
          <td><%= @email_blast.sales %></td>
        </tr>
      </table>
    </div>
<% end %>


<% content_for :title do %>
    Email Lists: <%= @email_blast.title %>
<% end %>


<% content_for :menu do
    render "admin/shared/marketing_menu"
end %>


<% content_for :breadcrumbs do %>
	<li><a href="#">Marketing</a></li>
	<li><%= link_to "Email Blasts", admin_marketing_email_blasts_path %></li>
	<li class="active"><%= @email_blast.title %></li>
<% end %>
