<style>
    .form-horizontal .control-label { width: 90px; }
    ul { list-style-type: none; }
</style>

<h2><%= @email_subscriber.email %></h2>
<% unless @email_subscriber.last_error.blank? %>
<div class="bs-callout bs-callout-danger">
  <pre><%= @email_subscriber.last_error %></pre>
</div>
<% end %>
<hr/>

<%= simple_form_for [:admin, :marketing, @email_subscriber] do |f| %>

<div class="col-md-7">
<% unless @email_subscriber.id.nil? %>
<table class="table table-bordered table-condensed summary">
	<tr>
		<td>Signed up:</td>
		<td><%= @email_subscriber.created_at %></td>
	</tr>
	<tr>
		<td>IP address:</td>
		<td><%= @email_subscriber.ip_address %></td>
	</tr>
	<tr>
		<td>Source:</td>
		<td>
			<% if @email_subscriber.affiliate_campaign_id.nil? %>
			organic
			<% else %>
			<%= @email_subscriber.affiliate_campaign %>
			<% end %>
		</td>
	</tr>
	<tr>
		<td>Referred by:</td>
		<td>
			<% if @email_subscriber.referred_by.nil? %>
			n/a
			<% else %>
			<%= link_to @email_subscriber.referrer, admin_system_user_path(@email_subscriber.referred_by) %>
			<% end %>
		</td>
	</tr>
</table>
<hr/>
<% end %>


  <%= render 'admin/shared/error_messages', object: f.object %>

  <%= f.input :email %>
  <%= f.input :name %>
  <%= f.input :opted_out %>
  <%= f.input :reported_spam %>
  <%= f.input :bounces %>
  <%= f.input :data1 %>
  <%= f.input :data2 %>
  
  	
  
</div>


<div class="col-md-5">
  <div class="panel panel-info">
    <div class="panel-heading">Subscriptions</div>
	<div class="panel-body">
        <ul>
            <% EmailList.all.each do |list|
                checked = ''
                existing_subscription = @email_subscriber.subscriptions.find { |s| s.email_list_id == list.id }
                checked = 'checked' unless existing_subscription.nil? %>
            <li><input type="checkbox" name="list-<%= list.id %>" <%= checked %>> &nbsp; <%= list.name %></li>
            <% end %>
        </ul>
    </div>
  </div>
</div>

<div class="col-md-12">
  <%= f.button :submit %>
</div>

<% end %>
	
	
<% content_for :title do %>
    Email Subscribers: <%= @email_subscriber.email %>
<% end %>


<% content_for :menu do
    render "admin/shared/marketing_menu"
end %>


<% content_for :breadcrumbs do %>
	<li><a href="#">Marketing</a></li>
	<li><%= link_to "Email Subscribers", admin_marketing_email_subscribers_path %></li>
	<li class="active"><%= @email_subscriber.email %></li>
<% end %>
