<style>
    .form-horizontal .control-label { width: 120px; }
</style>

<h2><%= @email_list.name %></h2>
<hr/>

<%= simple_form_for [:admin, :marketing, @email_list], html: { class: 'form-horizontal' }, wrapper: :horizontal_form  do |f| %>

  <%= render 'admin/shared/error_messages', object: f.object %>

  <%= f.input :name %>
  <%= f.input :auto_subscribe %>
  <%= f.input :user_managable %>
  <%= f.input :description, as: :text, input_html: { rows: 4 } %>
  
  <%= f.button :submit %>

<% end %>


<% content_for :title do %>
    Email Lists: <%= @email_list.name %>
<% end %>



<% content_for :breadcrumbs do %>
	<li><a href="#">Marketing</a></li>
	<li><%= link_to "Email Lists", admin_marketing_email_lists_path %></li>
	<li class="active"><%= @email_list.name %></li>
<% end %>
